.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.TagBox {
  padding: 0 20px 32px;
}

.TagBoxItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.TagTitleName {
    width: 60px;
    margin-right: 12px;
    font-size: 14px;
    text-align: right;
    margin-right: 10px;
}

.ListItem {
    margin-top: 20px;
  .main {
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
  }
  img {
    width: 100%;
  }
  .content {
    padding: 14px;
  }
  .title {
    color: #333;
    font-size: 14px;
  }
  .info {
    margin-top: 13px;
    color: #999;
    font-size: 12px;
    line-height: 20px;
  }
  .link {
    margin-top: 13px;
    a {
      margin-right: 20px;
      color: #999;
      font-size: 12px;
    }
  }
  .add {
    height: 100%;
    overflow: hidden;
    background: #fff;
    border: 1px dashed #eee;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    .icon {
      color: #999;
    }
  }
  .addText {
    margin-top: 20px;
    color: #999;
    font-size: 12px;
    text-align: center;
  }
}
:global(.ant-card-body){
    padding: 0;
    padding-top: 10px;
}
